html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.meta-expirada {
  background-color: #ce854d;
  color: white;
}

.meta-sucesso {
  background-color: #d9d987;
  color: black;
}

.lembrete-passado {
  background-color: #ce854d;
  color: white;
}
.lembrete-hoje {
  background-color: #d9d987;
  color: black;
}
.lembrete-futuro {
  background-color: rgb(255, 255, 255);
  color: black;
}

.tarefa-passada {
  background-color: #ce854d;
  color: white;
}
.tarefa-executada {
  background-color: #d9d987;
  color: black;
}

